<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style type="text/css">
<!--
table {
    border-collapse: collapse;
}

th, td {
    border: 1px darkgray solid;
}
-->
</style>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.min.css}">
</head>
<body>
    <table class="">
        <thead>
            <tr>
                <th>No</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Sex</th>
                <th>Birthday</th>
                <th>Mail Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : *{employees}">
                <td th:text="${employee.no}" />
                <td th:text="${employee.firstName}" />
                <td th:text="${employee.lastName}" />
                <td th:text="${employee.sex}" />
                <td th:text="${employee.birthday}" />
                <td th:text="${employee.mailAddress}" />
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Sex</th>
                            <th>Birthday</th>
                            <th>Mail Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="e, s : *{list}">
                            <td th:text="${e.no}"></td>
                            <td th:text="${e.firstName}"></td>
                            <td th:text="${e.lastName}"></td>
                            <td th:text="${e.sex}"></td>
                            <td th:text="${e.birthday}"></td>
                            <td th:text="${e.mailAddress}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>